<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="warn" name="Turnierverwaltung">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{yyyy-MM-dd HH:mm:ss,SSS}] [%level{lowercase=false}] [%c{20}] %m%n%ex}{FATAL=bg_bright_red fg_black, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=bright_black}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="io.netty" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>